body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  font-family: PingFangSC-Regular, sans-serif;
  background-color: #ffc600;
}

.wrapper {
  width: 30%;
  min-width: 500px;
  text-align: center;
  margin: 7% auto;
  margin-bottom: 20px;
  padding: 2em;
  box-shadow: 0 0 3px 0 #333; 
  background-color: white;
}

nav {
  ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    background: #333;
    color: white;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in;
  }
  a {
    &:-webkit-any-link {
      color: white;
    }
  }

  &.red {
    ul {
      background: white;
    }
    a {
      &:-webkit-any-link {
        color: #333;
      }
    } 
  }
}